/* ANCHOR GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.button{
    border-radius: 30px;
    padding: 10px 15px;
}

a{
    text-decoration: none;
}

.bottom-wave{
    transform: rotate(180deg);
}

li{
    list-style: none;
}

hr{
    background-color: #2d3441;
}

.link-hover:hover{
    text-decoration: underline;
}

.small-img{
    width: 10%;
}

/* HEADER */
header nav{
    padding: 15px 0;
}

.logo-top{
    width: 25%;
    float: left;
}

.logo-top img{
    float: left;
    margin-left: 75%;
    width: 30%;
}

#main-menu{
    float: left;
    width: 50%;
    text-align: center;
}

nav ul li, nav ul li a{
    display: inline-block;
}

nav ul li a{
    margin: 0 15px;
    font-size: 0.8em;
}

.sign-in{
    margin-top: 5px;
    width: 25%;
    float: left;
    font-size: 0.8em;
}

/* MAIN */

/* BANNER */
.banner-section{
    position: relative;
}

.banner{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
}

.banner-content{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 48%;
    transform: translate(-50%, -50%);
}

.banner-content h2{
    font-size: 2.8em;
    text-align: center;
}

.banner-subtext{
    margin-top: 40px;
    text-align: center;
}

.banner-subtext span{
    display: block;
}

.banner-buttons{
    text-align: center;
    margin-top: 30px;
}

.banner-buttons a{
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 0.9em;
}

/* SECTION */
.container{
    width: 70%;
    margin: 0 auto;
}

.c-60{
    width: 60%;
    float: left;
}

.section-img{
    width: 100%;
}

.c-40{
    width: calc(40% - 10%);
    float: left;
    margin: 3% 5%;
}

.container-text h2{
    margin-bottom: 10px;
    font-size: 1.8em;
}

.container-text span{
    font-weight: bold;
    font-size: 0.7em;
}

.stars{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 20px;
    margin-bottom: 30px;
}

/* FOOTER */
.c-20{
    width: 20%;
    float: left;
    margin: 0 10% 0 40px;
}

.c-20 h3{
    margin-bottom: 15px;
}

.social-buttons{
    margin-top: 10px;
}

.social-buttons a svg{
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

footer h4{
    margin-bottom: 10px;
    font-size: 0.9em;
}

.column{
    margin: 5px;
    width: calc(80%/4 - 60px);
    height: calc(100% - 10px);
    float: left;
}

.column div ul li{
    margin-bottom: 10px;
}

hr{
    border-color: #7188d7;
}

.register{
    padding-left: 40px;
    padding: 20px 0 5%;
    position: relative;
}

.register a{
    font-size: 0.7em;
    position: absolute;
    top: 20px;
    right: 0;
}