/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.button{
    border-radius: 30px;
    padding: 10px 15px;
}

a{
    text-decoration: none;
}

/* UTILITY */
.f-white{
    color: white;
}

.f-black{
    color: black;
}

.bg-darkgray{
    background-color: #23272a;
}

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: #3161e0;
}

.filter-lightgray{
    filter: invert(99%) sepia(7%) saturate(480%) hue-rotate(233deg) brightness(116%) contrast(93%);
}

.bg-lightgray{
    background-color: #f6f6f6;
}
/* FINE UTILITY */

/* HEADER */
header{
    position: relative;
}

nav img{
    float: left;
    vertical-align: middle;
    padding: 20px;
    margin-left: 13%;
    width: 10%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    float: left;
}

nav ul li a{
    display: inline-block;
    padding: 15px;
    font-size: 0.8em;
    float: left;
}

nav div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul li a:hover{
    text-decoration: underline;
    color: white;
}

.sign-in{
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translate(-10%, -50%);
    font-size: 0.8em;
}

.sign-in:hover{
    color: #3161e0;
}

/* MAIN */

/* BANNER SECTION */
.banner-section{
    position: relative;
}

.banner{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
}

.banner-content{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 48%;
    transform: translate(-50%, -50%);
}

.banner-content h2{
    font-size: 2.8em;
    text-align: center;
}

.banner-subtext{
    margin-top: 40px;
    text-align: center;
}

.banner-subtext span{
    display: block;
}

.banner-buttons{
    text-align: center;
    margin-top: 30px;
}

.banner-buttons a{
    margin: 0 10px;
    padding: 10px 30px;
    font-size: 0.9em;
}

.banner-buttons a span{
    margin: 5px;
}

.banner-buttons a:hover{
    color: #3161e0;
}

/* CHANNELS/COMMUNITY SECTION */
.channels, .community{
    width: 70%;
    margin: 5% auto;
}

.channels img, .community img{
    width: 57%;
    float: left;
}

.channels div, .community div{
    width: calc(43% - 20%);
    float: left;
    margin: 3% 10%;
}

.channels div h2, .community div h2{
    margin-bottom: 10px;
    font-size: 1.8em;
}

.channels div span, .community div span{
    font-weight: bold;
    font-size: 0.7em;
}

/* VOICE CHANNELS SECTION */
.voice-channels{
    padding: 1px 0 80px;
}

.voice-channels-content{
    width: 70%;
    margin: 5% auto;
}

.voice-channels img{
    width: 57%;
    float: right;
}

.voice-channels-text{
    width: calc(43% - 20%);
    float: right;
    margin: 3% 10%;
}

.voice-channels-text h2{
    margin-bottom: 10px;
    font-size: 1.8em;
}

.voice-channels-text span{
    font-weight: bold;
    font-size: 0.7em;
}

.bottom-wave{
    transform: rotate(180deg);
}

.s-5{
    background-color: blueviolet;
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.s-6{
    background-color: red;
    width: 80%;
    height: 250px;
    margin: 0 auto;
}

.f-1{
    background-color: orange;
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

.c-30{
    margin: 5px 5px 5px 5px;
    background-color: yellow;
    width: calc(30% - 10px);
    height: calc(100% - 10px);
    float: left;
}

.c-17{
    margin: 5px;
    background-color: yellow;
    width: calc((100% - 30%)/4 - 10px);
    height: calc(100% - 10px);
    float: left;
}

.f-2{
    background-color: green;
    width: 80%;
    height: 150px;
    margin: 0 auto;
}