body{font-family: sans-serif;}

.topnav {overflow: hidden; background-color: #255ee9; position: relative;}
.topnav #myLinks {display: none;}
.topnav a {color: white; font-weight: bold; margin: 0.8em; display: block;}
.topnav .sign-in a{color: #000; padding: .35rem .7rem;}

.topnav a.icon {
    background: #255ee9;
    display: block;
    position: absolute;
    right: 5%;
    top: 0;
}

.bg-blue-nav{background-color: #255ee9;}
.bg-blue{background-color: #8ea1e1;}
.bg-white{background-color: #fff;}
.bg-darkgray{background-color: #23272a;}
.bg-lightgray{background-color: #f6f6f6;}

.filter-lightgray{filter: invert(100%) sepia(0%) saturate(7376%) hue-rotate(280deg) brightness(116%) contrast(93%);}
.text-blue{color: #8ea1e1;}

.hero{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.v-channels{margin-top: -0.3rem; margin-bottom: -0.3rem;}
.tech{margin-top: -0.3rem;}

.bottom-wave{transform: rotate(180deg);}

.stars{
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.language img{width: 5%}

@media screen and (max-width: 36em) {
    .hero{padding: 2em 0;}

    .channels .row > div:last-of-type{text-align: center;}
    .channels .row > div h2{margin-bottom: 0.5em;}
    .channels .row > div:first-of-type{margin-bottom: 1em;}
    .container.channels{padding: 2em;}

    .v-channels .row > div:first-of-type{text-align: center;}
    .v-channels .row > div h2{margin-bottom: 0.5em;}
    .v-channels{padding: 2em;}

    .community .row > div:last-of-type{text-align: center;}
    .community .row > div h2{margin-bottom: 0.5em;}
    .community .row > div:first-of-type{margin-bottom: 1em;}
    .container.community{padding: 2em;}

    .social,
    .footer-cols{margin-bottom: 2em;}
}

@media screen and (min-width: 36.1em) and (max-width: 48em) {
    .hero{padding: 2em 0;}

    .channels .row > div:last-of-type{text-align: center;}
    .channels .row > div h2{margin-bottom: 0.5em;}
    .channels .row > div:first-of-type{margin-bottom: 1em;}
    .container.channels{padding: 2em;}

    .v-channels .row > div:first-of-type{text-align: center;}
    .v-channels .row > div h2{margin-bottom: 0.5em;}
    .v-channels{padding: 2em;}

    .community .row > div:last-of-type{text-align: center;}
    .community .row > div h2{margin-bottom: 0.5em;}
    .community .row > div:first-of-type{margin-bottom: 1em;}
    .container.community{padding: 2em;}

    .social,
    .footer-cols{margin-bottom: 2em;}
}

@media screen and (min-width: 48.1em) and (max-width: 62em) {
    .topnav a.icon{right: 10%;}
    
    .hero{padding: 2em 0;}

    .channels .row > div:last-of-type{text-align: center;}
    .channels .row > div h2{margin-bottom: 0.5em;}
    .channels .row > div:first-of-type{margin-bottom: 1em;}
    .container.channels{padding: 2em;}

    .v-channels .row > div:first-of-type{text-align: center;}
    .v-channels .row > div h2{margin-bottom: 0.5em;}
    .v-channels{padding: 2em;}

    .community .row > div:last-of-type{text-align: center;}
    .community .row > div h2{margin-bottom: 0.5em;}
    .community .row > div:first-of-type{margin-bottom: 1em;}
    .container.community{padding: 2em;}

    .social{margin-bottom: 2em;}
}

@media screen and (min-width: 62.1em) and (max-width: 75em) {
    .topnav a.icon{right: 10%;}

    .container.channels,
    .v-channels,
    .container.community{padding: 3em 2em;}
}

@media screen and (min-width: 75.1em) and (max-width: 90em) {
    .topnav a.icon{right: 10%;}

    .container.channels,
    .v-channels,
    .container.community{padding: 3em 2em;}
}

@media screen and (min-width: 90.1em) {
    .topnav a.icon{right: 10%;}
}
